@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600;700&family=Baloo+Bhaina+2:wght@600&family=Chivo+Mono&family=PT+Serif&family=Satisfy&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', cursive;
}


.main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#111317 50%, #675AFE 50%);
}

.title {
    color: white;
    text-align: center;
    font-size: 3rem;
}

.col{
    width: 1000px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
    color: white;
}

.col div{
    width: 250px;
}

input{
    margin-top: 45px;
    justify-content: center;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: transparent;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}
