* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(210, 31%, 96%);
  padding-top: 10%;
}

#container {
  width: 40vw;
  height: auto;
  padding: 45px 20px 9px 20px;
  background-color: white;
  margin: auto;
  text-align: center;
  border-radius: 9px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-bottom: 25px;
}

input {
  width: 75%;
  height: 35px;
  padding: 13px;
  border: none;
  outline: none;
  background-color: hsl(210, 31%, 93%);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

input:focus {
  border: 2px solid black;
}

.form-control button {
  margin-left: -4px;
  width: 17%;
  height: 35px;
  border: none;
  background-color: rgb(141, 141, 211);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.form-control button:hover{
  background-color: rgb(63, 63, 196);
  color: white;
}

.grocery-container {
  padding: 25px 11px 25px 17px;
}

.grocery-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98.5%;
  padding: 8px;
  margin-bottom: 19px;
  border-radius: 7px;
}

.grocery-item:hover {
  background-color: hsl(210, 31%, 93%);
  height: auto;
}

.clear{
  color: rgb(211, 123, 123);
  background: none;
  outline: none;
  border: none;
}

.clear:hover{
  color: brown;
}
